body{

  margin: 0;
  padding: 0;
}

header,footer{

  padding: 50px 0;
}

p{

  font-size: 50px;
}

h1{

  font-size: 50px;
}

.conteiner{

  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

aside,main{

  width: 50%;
  float: left;
}

aside img{

  display: block;
  width: 80%;
  margin: 0 auto;
  
}

footer, footer  img{
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
  height: 100%;
  text-align: center;

}
.button a{

  float: right;
  overflow: hidden;
  text-decoration: none;
  color:#000;
  background-color: yellow;
  display: block;
  border-radius: 30px;
} 

ul a{

  font-size: 50px;
  color:#000;
  text-decoration: none;
}
a:hover{

  color: red;
  background-color: #000;
}

.button {

  color: #000;
  text-decoration: none;
  overflow: hidden;
  float: right;
  margin: 50px auto;
  padding: 50px;
  font-size:50px;
  background-color: #F4CE14;
  border-radius: 50px;
  margin-right: 50px;
}